/* 전체 컨테이너 설정 */
.chat-container {
    display: flex;
    height: 100vh;
    font-family: Arial, sans-serif;
}

/* 왼쪽 탭(채팅방들 목록) */
.chat-room-list {
    width: 30%;
    background-color: #f1f1f1;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
    border-right: 1px solid #ccc;
}
/* 채팅방 각각 */
.chat-room {
    padding: 15px;
    margin-bottom: 10px;
    background-color: #fff;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
/* 채팅방에 마우스 올렸을 때*/
.chat-room:hover {
    background-color: #eaeaea;
}

/* 채팅 박스(좌측 탭 빼고 모두 포함) */
.chat-box {
    width: 70%;
    display: flex;
    flex-direction: column;
}
/* 모든 메시지 */
.chat-messages {
    flex-grow: 1;
    padding: 20px;
    background-color: #fff;
    overflow-y: auto;
    box-sizing: border-box;
}
/* 각각의 메시지 */
.message {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
/* 받은 메시지 */
.message.received {
    align-items: flex-start;
}
/* 보낸 메시지 */
.message.sent {
    align-items: flex-end;
}

.user-id {
    font-weight: bold;
    margin-bottom: 3px;
}
/* 메시지 내용 */
.message-content {
    display: inline-block;
    background-color: #f1f0f0;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
}
/* 내가 보낸 메시지만 색깔 입힘 */
.message.sent .message-content {
    background-color: #d1e7dd;
}

.message-time {
    font-size: 0.8em;
    color: #888;
    margin-top: 3px;
}

/* 입력창 */
.chat-input {
    padding: 10px;
    border-top: 1px solid #ccc;
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
}
/* 텍스트 입력 필드("Enter를 입력하세요" 같은거) */
#messageInput {
    flex-grow: 1;
    padding: 15px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
/* 클릭했을 때 */
#messageInput:focus {
    outline: none;
    border-color: #ff867c;
}
/* 보내기 버튼 */
#sendButton {
    padding: 15px;
    margin-left: 10px;
    font-size: 1em;
    background-color: #ff867c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
/* 입력 버튼 마우스 올렸을 때*/
#sendButton:hover {
    background-color: #ff6f61;
}
