{% extends "index.html" %}
{% block section %}
<!-- <div class="home-container" > 원래 코드
    <div class="home-middle">
        <h1>사기 피해 사례 검색</h1>

        <form class="home-search-box">
            <input type="text" id="thecheat-search" name="search" placeholder="연락처 또는 계좌번호로 검색해 보세요.">
            <button type="submit">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </form>

        <p style="color: white;">
            더치트는 범죄피해 방지 및 범죄 피해자 보호를 위해 2006년부터 운영되고 있습니다.
        </p>
    </div> -->

    <div class="home-container" >
        <div class="home-middle">
            <h1><a href="https://thecheat.co.kr/rb/?mod=_search" target="_blank" style="color: white; text-decoration: none; font-size: 2em;">사기 피해 사례 검색(클릭)</a></h1>
    
            <!-- <form class="home-search-box">
                <input type="text" id="thecheat-search" name="search" placeholder="연락처 또는 계좌번호로 검색해 보세요.">
                <button type="submit">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form> -->
    
            <p style="color: white;">
                더치트는 범죄피해 방지 및 범죄 피해자 보호를 위해 2006년부터 운영되고 있습니다.
            </p>
        </div>



    <!-- Review Section -->
    <div class="home-side" style="margin-left: 40px;">
        <h1 style="font-family: GmarketSansLight;">REVIEW</h1>
        <table>
            {% for row in reviews %}
            <tr class="home-tr">
                {% for key, value in row %}
                <td class="home-reivewTitle" onclick="location.href='/view_review_detail/{{ key }}/';" style="cursor:pointer;">
                    <div class="star-review" style="font-size:20px; margin-bottom: 10px;">
                        {% if value['rating'] == "1" %}
                        ★☆☆☆☆
                        {% endif %}
                        {% if value['rating'] == "2" %}
                        ★★☆☆☆
                        {% endif %}
                        {% if value['rating'] == "3" %}
                        ★★★☆☆
                        {% endif %}
                        {% if value['rating'] == "4" %}
                        ★★★★☆
                        {% endif %}
                        {% if value['rating'] == "5" %}
                        ★★★★★
                        {% endif %}  
                    </div>
                    {{ value.reviewTitle }}</td>
                {% endfor %}
                {% for key, value in row %}
                <td class="home-td"> 
                    {% if value['category'] == "digital" %}
                    디지털 기기
                    {% endif %}
                    {% if value['category'] == "furniture" %}
                    가구
                    {% endif %}
                    {% if value['category'] == "clothes" %}
                    의류
                    {% endif %}
                    {% if value['category'] == "others" %}
                    기타
                    {% endif %}
                </td>
                {% endfor %}
            </tr>
            <tr class="home-tr">
                {% for key, value in row %}
                <td class="home-reivew" onclick="location.href='/view_review_detail/{{ key }}/';" style="cursor:pointer;">
                    {{value.review}}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

    

    <!-- Items Section -->
    <div style="margin-left: 30px;">
        <hr style="margin-right: 30px;">
        <br>
        <h1 style="font-family: GmarketSansLight;">오늘의 추천 상품</h1>
        <div class="post-list">
            {% for key, value in posts %}
                <div class="post-item" onclick="location.href='/view_detail/{{key}}/'">
                    <img src="{{ url_for('static', filename='image/' + value.img_path) }}" alt={{key}} class="rounded-img-small">
                    <div class="post-item text" style="font-size:21px; margin-top:10px; margin-left: 8px; font-family:'GMarketSansBold'">{{key}}</div>
                    <div class="post-item text" style="margin-left: 8px;">{{ value.price | comma_format }} 원</div>
                </div>
            {% endfor %}
            </div>
    </div>
{% endblock section %}