<!DOCTYPE html>
<html>
   <head>
      <html lang="en">
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="../static/style.css">
      <script src="../static/main.js" defer></script>
      <script src="https://kit.fontawesome.com/97098c5e7a.js" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"> </script>
   </head>
   
      <header id="header" class ="indexHeader">
         <nav id="topBar">
            <a href ="/home"><img src="../static/image/logo.png" title="로고" width="200px"></a>
               <div id="search" style="height: 100%; width: 40%;">
                  <form class="search_box">
                     <input type="text" id="user-search" name="search" placeholder="SEARCH">
                     <button type="submit">
                        <i class="fa-solid fa-magnifying-glass"></i>
                     </button>
                  </form>
               </div>
      
            <ul class = "top_menu">
               <li><a href="login.html">로그인</a></li>
               <li><a href="chat.html">메시지</a></li>
            </ul>
         </nav> 
      
         <nav class="menuBar">
            <ul>
               <li> <a href="/list">상품</a></li>
               <li> <a href="/reg_items">상품 등록</a></li>
               <li> <a href="/review">리뷰</a></li>
               <li> <a href="/reg_review">리뷰 등록</a></li>
            </ul>
         </nav>  
      </header>

</html>
