{% extends "index.html" %}
{% block section %}
<form action="/submit_item_post" enctype="multipart/form-data" method="post">

    <div class="container">
    <!--상품 등록-->
        <div><br><br>
            <h1>상품등록</h1>
            <br>
        </div>
        
        <!--상품 이름 입력-->
        <div>
            <label for="name">상품 이름</label><br>
            <input class="inputstyle" type="text" name="name" id="name" required><br><br>
        </div>
      
        <!--상품 이미지 입력-->
        <div>
            <label for="img">상품 이미지</label><br>
            <input class="inputstyle" type="file" name="file" enctype="multipart/form-data"><br><br>
        </div>

        <!--상품 카테고리 입력-->
        <div>
            <label for="category">카테고리</label>
            <br>
            <div class="inputstyle"></div>
            <select id="category" name="category">
            <option value="Clothes" selected> 의류 </option>
            <option value="Furniture"> 가구 </option>
            <option value="Electronics"> 디지털 기기 </option>
            <option value="ETC"> 기타 </option>
            </select><br><br><br>
        </div>

        <!--상품 상태 입력-->
        <div>
            <label>상품 상태</label><br>
            <div class="inputstyle"></div>
            <input  type="radio" id="status-new" name="status" value="new" checked>
            <label for="status-new">미개봉 새 상품</label><br>

            <input type="radio" id="status-noused" name="status" value="noused">
            <label for="status-noused">미사용 상품</label><br>

            <input type="radio" id="status-oftenused" name="status" value="oftenused">
            <label for="status-oftenused">사용감 적음</label><br>

            <input type="radio" id="status-manyused" name="status" value="manyused">
            <label for="status-manyused">사용감 많음</label><br>

            <input type="radio" id="status-broken" name="status" value="broken">
            <label for="status-broken">고장난 상품</label><br>
            <br><br>            
        </div>
            
        <!--상품 설명 입력-->
        <div>
            <label for="explanation">설명</label><br>
            <textarea class="textareastyle" name="explanation" id="explanation" required></textarea><br><br>
        </div>

        <!--상품 가격 입력-->
        <div>
            <label for="price"> 가격 </label><br>
            <input class="inputstyle" type="text" name="price" id="price" required><br><br> 
        </div>
        
    <!--판매자 정보-->
        <div>
            <h1>판매자 정보</h1>
            <br>
        </div>
        
        <!--판매자 아이디 입력-->
        <div>
            <label for="seller"> 판매자 아이디 </label>
            <input class="inputstyle" type="text" name="seller" id="seller" value="{{id}}"><br><br>
        </div>

        <!--지역 입력-->
            <label for="addr">지역: 시/도 선택</label>
            <select id="addr" name="addr">
                <option value="">시/도 선택</option>
                <option value="서울특별시">서울특별시</option>
                <option value="부산광역시">부산광역시</option>
                <option value="대구광역시">대구광역시</option>
                <option value="인천광역시">인천광역시</option>
                <option value="광주광역시">광주광역시</option>
                <option value="대전광역시">대전광역시</option>
                <option value="울산광역시">울산광역시</option>
                <option value="세종특별자치시">세종특별자치시</option>
                <option value="경기도">경기도</option>
                <option value="강원도">강원도</option>
                <option value="충청북도">충청북도</option>
                <option value="충청남도">충청남도</option>
                <option value="전라북도">전라북도</option>
                <option value="전라남도">전라남도</option>
                <option value="경상북도">경상북도</option>
                <option value="경상남도">경상남도</option>
                <option value="제주특별자치도">제주특별자치도</option>
            </select>

            <label for="gun-gu" style="margin-left: 10%">시/군/구 선택</label>
            <select id="gun" name="gun">
                <option value="">시/군/구 선택</option>
            </select>

        <script>
            document.getElementById("addr").addEventListener("change", function() {
            const addr = this.value;
            const subcategory = document.getElementById("gun");

            // 기존 서브카테고리 옵션 삭제
            subcategory.innerHTML = '<option value="">시/군/구 선택</option>';

            // 카테고리에 따른 서브카테고리 옵션 설정
            if (addr === "서울특별시") {
                subcategory.innerHTML += '<option value="강남구">강남구</option>';
                subcategory.innerHTML += '<option value="강동구">강동구</option>';
                subcategory.innerHTML += '<option value="강북구">강북구</option>';
                subcategory.innerHTML += '<option value="강서구">강서구</option>';
                subcategory.innerHTML += '<option value="관악구">관악구</option>';
                subcategory.innerHTML += '<option value="광진구">광진구</option>';
                subcategory.innerHTML += '<option value="구로구">구로구</option>';
                subcategory.innerHTML += '<option value="금천구">금천구</option>';
                subcategory.innerHTML += '<option value="노원구">노원구</option>';
                subcategory.innerHTML += '<option value="도봉구">도봉구</option>';
                subcategory.innerHTML += '<option value="동대문구">동대문구</option>';
                subcategory.innerHTML += '<option value="동작구">동작구</option>';
                subcategory.innerHTML += '<option value="마포구">마포구</option>';
                subcategory.innerHTML += '<option value="서대문구">서대문구</option>';
                subcategory.innerHTML += '<option value="성동구">성동구</option>';
                subcategory.innerHTML += '<option value="성북구">성북구</option>';
                subcategory.innerHTML += '<option value="송파구">송파구</option>';
                subcategory.innerHTML += '<option value="양천구">양천구</option>';
                subcategory.innerHTML += '<option value="영등포구">영등포구</option>';
                subcategory.innerHTML += '<option value="용산구">용산구</option>';
                subcategory.innerHTML += '<option value="은평구">은평구</option>';
                subcategory.innerHTML += '<option value="종로구">종로구</option>';
                subcategory.innerHTML += '<option value="중구">중구</option>';
                subcategory.innerHTML += '<option value="중량구">중랑구</option>';



            } else if (addr === "경기도") {
                subcategory.innerHTML += '<option value="가평군">가평군</option>';
                subcategory.innerHTML += '<option value="고양시">고양시</option>';
                subcategory.innerHTML += '<option value="과천시">과천시</option>';
                subcategory.innerHTML += '<option value="광명시">광명시</option>';
                subcategory.innerHTML += '<option value="광주시">광주시</option>';
                subcategory.innerHTML += '<option value="구리시">구리시</option>';
                subcategory.innerHTML += '<option value="군포시">군포시</option>';
                subcategory.innerHTML += '<option value="김포시">김포시</option>';
                subcategory.innerHTML += '<option value="남양주시">남양주시</option>';
                subcategory.innerHTML += '<option value="동두천시">동두천시</option>';
                subcategory.innerHTML += '<option value="부천시">부천시</option>';
                subcategory.innerHTML += '<option value="성남시">성남시</option>';
                subcategory.innerHTML += '<option value="수원시">수원시</option>';
                subcategory.innerHTML += '<option value="시흥시">시흥시</option>';
                subcategory.innerHTML += '<option value="안산시">안산시</option>';
                subcategory.innerHTML += '<option value="안양시">안양시</option>';
                subcategory.innerHTML += '<option value="양주시">양주시</option>';
                subcategory.innerHTML += '<option value="양평군">양평군</option>';
                subcategory.innerHTML += '<option value="여주시">여주시</option>';
                subcategory.innerHTML += '<option value="용인시">용인시</option>';
                subcategory.innerHTML += '<option value="의정부시">의정부시</option>';
                subcategory.innerHTML += '<option value="이천시">이천시</option>';
                subcategory.innerHTML += '<option value="파주시">파주시</option>';
                subcategory.innerHTML += '<option value="평택시">평택시</option>';
                subcategory.innerHTML += '<option value="포천시">포천시</option>';
                subcategory.innerHTML += '<option value="하남시">하남시</option>';
                subcategory.innerHTML += '<option value="화성시">화성시</option>';

            } else if (addr === "강원도") {
                subcategory.innerHTML += '<option value="강릉시">강릉시</option>';
                subcategory.innerHTML += '<option value="고성군">고성군</option>';
                subcategory.innerHTML += '<option value="동해시">동해시</option>';
                subcategory.innerHTML += '<option value="속초시">속초시</option>';
                subcategory.innerHTML += '<option value="양양군">양양군</option>';
                subcategory.innerHTML += '<option value="영월군">영월군</option>';
                subcategory.innerHTML += '<option value="원주시">원주시</option>';
                subcategory.innerHTML += '<option value="인제군">인제군</option>';
                subcategory.innerHTML += '<option value="정선군">정선군</option>';
                subcategory.innerHTML += '<option value="철원군">철원군</option>';
                subcategory.innerHTML += '<option value="춘천시">춘천시</option>';
                subcategory.innerHTML += '<option value="태백시">태백시</option>';
                subcategory.innerHTML += '<option value="평창군">평창군</option>';
                subcategory.innerHTML += '<option value="홍천군">홍천군</option>';
                subcategory.innerHTML += '<option value="화천군">화천군</option>';
                subcategory.innerHTML += '<option value="횡성군">횡성군</option>';

            } else if (addr === "경상남도"){
                subcategory.innerHTML += '<option value="거제시">거제시</option>';
                subcategory.innerHTML += '<option value="고성군">고성군</option>';
                subcategory.innerHTML += '<option value="김해시">김해시</option>';
                subcategory.innerHTML += '<option value="남해군">남해군</option>';
                subcategory.innerHTML += '<option value="밀양시">밀양시</option>';
                subcategory.innerHTML += '<option value="사천시">사천시</option>';
                subcategory.innerHTML += '<option value="산청군">산청군</option>';
                subcategory.innerHTML += '<option value="양산시">양산시</option>';
                subcategory.innerHTML += '<option value="의령군">의령군</option>';
                subcategory.innerHTML += '<option value="진주시">진주시</option>';
                subcategory.innerHTML += '<option value="창녕군">창녕군</option>';
                subcategory.innerHTML += '<option value="창원시">창원시</option>';
                subcategory.innerHTML += '<option value="통영시">통영시</option>';
                subcategory.innerHTML += '<option value="하동군">하동군</option>';
                subcategory.innerHTML += '<option value="함안군">함안군</option>';
                subcategory.innerHTML += '<option value="함양군">함양군</option>';

            } else if (addr === "경상북도"){
                subcategory.innerHTML += '<option value="경산시">경산시</option>';
                subcategory.innerHTML += '<option value="경주시">경주시</option>';
                subcategory.innerHTML += '<option value="고령군">고령군</option>';
                subcategory.innerHTML += '<option value="구미시">구미시</option>';
                subcategory.innerHTML += '<option value="군위군">군위군</option>';
                subcategory.innerHTML += '<option value="김천시">김천시</option>';
                subcategory.innerHTML += '<option value="문경시">문경시</option>';
                subcategory.innerHTML += '<option value="봉화군">봉화군</option>';
                subcategory.innerHTML += '<option value="성주군">성주군</option>';
                subcategory.innerHTML += '<option value="안동시">안동시</option>';
                subcategory.innerHTML += '<option value="영덕군">영덕군</option>';
                subcategory.innerHTML += '<option value="영주시">영주시</option>';
                subcategory.innerHTML += '<option value="예천군">예천군</option>';
                subcategory.innerHTML += '<option value="울릉군">울릉군</option>';
                subcategory.innerHTML += '<option value="울진군">울진군</option>';
                subcategory.innerHTML += '<option value="의성군">의성군</option>';
                subcategory.innerHTML += '<option value="청도군">청도군</option>';
                subcategory.innerHTML += '<option value="청도군">ㅊ</option>';
                subcategory.innerHTML += '<option value="칠곡군">칠곡군</option>';
                subcategory.innerHTML += '<option value="포항시">포항시</option>';

            } else if (addr === "광주광역시"){
                subcategory.innerHTML += '<option value="광산구">광산구</option>';
                subcategory.innerHTML += '<option value="남구">남구</option>';
                subcategory.innerHTML += '<option value="동구">동구</option>';
                subcategory.innerHTML += '<option value="북구">북구</option>';
                subcategory.innerHTML += '<option value="서구">서구</option>';

            } else if (addr === "대구광역시"){
                subcategory.innerHTML += '<option value="남구">남구</option>';
                subcategory.innerHTML += '<option value="달서구">달서구</option>';
                subcategory.innerHTML += '<option value="달성군">달성군</option>';
                subcategory.innerHTML += '<option value="동구">동구</option>';
                subcategory.innerHTML += '<option value="북구">북구</option>';
                subcategory.innerHTML += '<option value="서구">서구</option>';
                subcategory.innerHTML += '<option value="수성구">수성구</option>';
                subcategory.innerHTML += '<option value="중구">중구</option>';

            } else if (addr === "대전광역시"){
                subcategory.innerHTML += '<option value="대덕구">대덕구</option>';
                subcategory.innerHTML += '<option value="동구">동구</option>';
                subcategory.innerHTML += '<option value="서구">서구</option>';
                subcategory.innerHTML += '<option value="유성구">유성구</option>';
                subcategory.innerHTML += '<option value="중구">중구</option>';

            } else if (addr === "부산광역시"){
                subcategory.innerHTML += '<option value="강서구">강서구</option>';
                subcategory.innerHTML += '<option value="금정구">금정구</option>';
                subcategory.innerHTML += '<option value="기장군">기장군</option>';
                subcategory.innerHTML += '<option value="남구">남구</option>';
                subcategory.innerHTML += '<option value="동구">동구</option>';
                subcategory.innerHTML += '<option value="동래구">동래구</option>';
                subcategory.innerHTML += '<option value="진구">진구</option>';
                subcategory.innerHTML += '<option value="북구">북구</option>';
                subcategory.innerHTML += '<option value="사상구">사상구</option>';
                subcategory.innerHTML += '<option value="사하구">사하구</option>';
                subcategory.innerHTML += '<option value="서구">서구</option>';
                subcategory.innerHTML += '<option value="수영구">수영구</option>';
                subcategory.innerHTML += '<option value="연제구">연제구</option>';
                subcategory.innerHTML += '<option value="영도구">영도구</option>';
                subcategory.innerHTML += '<option value="중구">중구</option>';
                subcategory.innerHTML += '<option value="해운대구">해운대구</option>';

            } else if (addr === "세종특별자치시"){
                subcategory.innerHTML += '<option value="세종시">세종시</option>';
                

            } else if (addr === "울산광역시"){
                subcategory.innerHTML += '<option value="남구">남구</option>';
                subcategory.innerHTML += '<option value="동구">동구</option>';
                subcategory.innerHTML += '<option value="북구">북구</option>';
                subcategory.innerHTML += '<option value="울주군">울주군</option>';
                subcategory.innerHTML += '<option value="중구">중구</option>';               

            } else if (addr === "인천광역시"){
                subcategory.innerHTML += '<option value="강화군">강화군</option>';
                subcategory.innerHTML += '<option value="계양구">계양구</option>';
                subcategory.innerHTML += '<option value="남구">남구</option>';
                subcategory.innerHTML += '<option value="남동구">남동구</option>';
                subcategory.innerHTML += '<option value="동구">동구</option>';
                subcategory.innerHTML += '<option value="부평구">부평구</option>';
                subcategory.innerHTML += '<option value="서구">서구</option>';
                subcategory.innerHTML += '<option value="옹진군">옹진군</option>';
                subcategory.innerHTML += '<option value="중구">중구</option>';

            } else if (addr === "전라남도"){
                subcategory.innerHTML += '<option value="강진군">강진군</option>';
                subcategory.innerHTML += '<option value="고흥군">고흥군</option>';
                subcategory.innerHTML += '<option value="곡성군">곡성군</option>';
                subcategory.innerHTML += '<option value="광양시">광양시</option>';
                subcategory.innerHTML += '<option value="구례군">구례군</option>';
                subcategory.innerHTML += '<option value="나주시">나주시</option>';
                subcategory.innerHTML += '<option value="담양군">담양군</option>';
                subcategory.innerHTML += '<option value="목포시">목포시</option>';
                subcategory.innerHTML += '<option value="무안군">무안군</option>';
                subcategory.innerHTML += '<option value="보성군">보성군</option>';
                subcategory.innerHTML += '<option value="순천시">순천시</option>';
                subcategory.innerHTML += '<option value="신안군">신안군</option>';
                subcategory.innerHTML += '<option value="여수시">여수시</option>';
                subcategory.innerHTML += '<option value="영암군">영암군</option>';
                subcategory.innerHTML += '<option value="완도군">완도군</option>';
                subcategory.innerHTML += '<option value="장성군">장성군</option>';
                subcategory.innerHTML += '<option value="진도군">진도군</option>';
                subcategory.innerHTML += '<option value="함평군">함평군</option>';
                subcategory.innerHTML += '<option value="함평군">함평군</option>';
                subcategory.innerHTML += '<option value="화순군">화순군</option>';


            } else if (addr === "전라북도"){
                subcategory.innerHTML += '<option value="고창군">고창군</option>';
                subcategory.innerHTML += '<option value="군산시">군산시</option>';
                subcategory.innerHTML += '<option value="김제시">김제시</option>';
                subcategory.innerHTML += '<option value="남원시">남원시</option>';
                subcategory.innerHTML += '<option value="무주군">무주군</option>';
                subcategory.innerHTML += '<option value="부안군">부안군</option>';
                subcategory.innerHTML += '<option value="순창군">순창군</option>';
                subcategory.innerHTML += '<option value="완주군">완주군</option>';
                subcategory.innerHTML += '<option value="익산시">익산시</option>';
                subcategory.innerHTML += '<option value="임실군">임실군</option>';
                subcategory.innerHTML += '<option value="장수군">장수군</option>';
                subcategory.innerHTML += '<option value="전주시">전주시</option>';
                subcategory.innerHTML += '<option value="정읍시">정읍시</option>';
                subcategory.innerHTML += '<option value="진안군">진안군</option>';

            } else if (addr === "제주특별자치도"){
                subcategory.innerHTML += '<option value="서귀포시">서귀포시</option>';
                subcategory.innerHTML += '<option value="제주시">제주시</option>';

            } else if (addr === "충청남도"){
                subcategory.innerHTML += '<option value="계룡시">계룡시</option>';
                subcategory.innerHTML += '<option value="공주시">공주시</option>';
                subcategory.innerHTML += '<option value="금산군">금산군</option>';
                subcategory.innerHTML += '<option value="논산시">논산시</option>';
                subcategory.innerHTML += '<option value="당진시">당진시</option>';
                subcategory.innerHTML += '<option value="보령시">보령시</option>';
                subcategory.innerHTML += '<option value="부여군">부여군</option>';
                subcategory.innerHTML += '<option value="서산시">서산시</option>';
                subcategory.innerHTML += '<option value="서천군">서천군</option>';
                subcategory.innerHTML += '<option value="아산시">아산시</option>';
                subcategory.innerHTML += '<option value="예산군">예산군</option>';
                subcategory.innerHTML += '<option value="천안시">천안시</option>';
                subcategory.innerHTML += '<option value="청양군">청양군</option>';
                subcategory.innerHTML += '<option value="태안군">태안군</option>';
                subcategory.innerHTML += '<option value="홍성군">홍성군</option>';


            } else if (addr === "충청북도"){
                subcategory.innerHTML += '<option value="괴산군">괴산군</option>';
                subcategory.innerHTML += '<option value="단양군">단양군</option>';
                subcategory.innerHTML += '<option value="보은군">보은군</option>';
                subcategory.innerHTML += '<option value="영동군">영동군</option>';
                subcategory.innerHTML += '<option value="옥천군">옥천군</option>';
                subcategory.innerHTML += '<option value="음성군">음성군</option>';
                subcategory.innerHTML += '<option value="제천시">제천시</option>';
                subcategory.innerHTML += '<option value="증평군">증평군</option>';
                subcategory.innerHTML += '<option value="진천군">진천군</option>';
                subcategory.innerHTML += '<option value="청주시">청주시</option>';
                subcategory.innerHTML += '<option value="충주시">충주시</option>';

            } 
        });          
        </script> 


    <!--추가 정보-->
        <div>
            <br>
            <h1 class="information">추가 정보</h1><br>
        </div>    

        <!--직거래 여부 입력-->
        <div>
            <label>직거래 여부</label><br>
            <div class="inputstyle"></div>
            <input type="radio" id="direct-possible" name="directtransaction" value="possible" checked>
            <label for="direct_possible">가능</label><br>
            <input type="radio" id="direct-impossible" name="directtransaction" value="impossible">
            <label for="direct_impossible">불가능</label><br>
            <br><br>
        </div>

        <!--입력한 정보 제출 버튼-->
        <button type="submit" class="btn" style="float: right;">상품 등록하기</button>
        <br><br><br><br>
    </div>
</form>
{% endblock section %}