{% extends "index.html" %}
{% block section %}

<div style="margin-top:20px">
   <div style="position:absolute; width:700px; padding:50px; padding-left:100px">
      <img src="https://via.placeholder.com/500x500.png" alt="이미지 없음" class="rounded-img-big" onclick="openPopup('popup1')">
   </div>
   <div class="popup" id="popup1" onclick="closePopup('popup1')">
      <img src="https://via.placeholder.com/500x500.png" alt="이미지 없음">
   </div>

   <div style="position:absolute; left:700px; width:600px; padding-top:35px;">
      <h2>리뷰 제목을 표시합니다</h2>
      <a href="/list" style="float:left; padding-top:25px">판매자가 올린 판매글 제목(링크)</a>
      <div class="star-review" style="font-size:30pt; float:right; padding-top:5px">★★★★☆</div>
      <div style="overflow:auto; float:left; width:100%; height:400px; margin-top:10px">
         <p>
         리뷰 내용을 표시합니다
         </p>
      </div>
   </div>
</div>

{% endblock section %}