{% extends "index.html" %}
{% block section %}

<p>
    리뷰 리스트 -- 현재까지 {{pagination.total}}개 리뷰 등록됨
</p>
<div class="post-list">
{% for key, value in posts %}
    <div class="post-item" onclick="location.href='/view_review_detail/{{key}}/'">
        <img src="{{ url_for('static', filename='image/' + value.img_path) }}" alt="이미지 없음" class="rounded-img-small">
        <div class="star-review" style="float:left; width:100%; padding-top:5px;">
            {% if value['rating'] == "1" %}
            ★☆☆☆☆
            {% endif %}
            {% if value['rating'] == "2" %}
            ★★☆☆☆
            {% endif %}
            {% if value['rating'] == "3" %}
            ★★★☆☆
            {% endif %}
            {% if value['rating'] == "4" %}
            ★★★★☆
            {% endif %}
            {% if value['rating'] == "5" %}
            ★★★★★
            {% endif %} </div>
        <div class="post-item text">{{value.reviewTitle}}</div>
    </div>
{% endfor %}
</div>

{{ pagination.links | safe }}

{% endblock section %}

