{% extends "index.html" %}
{% block section %}
    
<div style="margin-top:20px"></div>
    <div style="position:absolute; width:700px; padding:50px; padding-left:100px">
        <img src="{{img_path}}" alt="이미지 없음" class="rounded-img-big" onclick="openPopup('popup1')">
    </div>

    <div class="popup" id="popup1" onclick="closePopup('popup1')">
        <img src="{{img_path}}" alt="이미지 없음">
    </div>

    <div style="position:absolute; left:700px; width:600px; padding-top:35px;">
        <h2>{{data.reviewTitle}}</h2>
        <div class="star-review" style="font-size:30pt; left:700px; padding-top:5px">
            {% if data['rating'] == "5" %}
            ★★★★★
            {% endif %}
            {% if data['rating'] == "4" %}
            ★★★★☆
            {% endif %}
            {% if data['rating'] == "3" %}
            ★★★☆☆
            {% endif %}
            {% if data['rating'] == "2" %}
            ★★☆☆☆
            {% endif %}
            {% if data['rating'] == "1" %}
            ★☆☆☆☆
            {% endif %}
        </div>
        <h5>
            Reviewer ID:  {{data.reviewerId}}<br><br>
            카테고리: 
            {% if data['category'] == "digital" %}
            디지털 기기
            {% endif %}
            {% if data['category'] == "furniture" %}
            가구
            {% endif %}
            {% if data['category'] == "clothes" %}
            의류
            {% endif %}
            {% if data['category'] == "others" %}
            기타
            {% endif %}
            <br><br>
            상품 상태: 
            {% if data['status'] == "new" %}
            new!
            {% endif %}
            {% if data['status'] == "noused" %}
            미사용 상품
            {% endif %}
            {% if data['status'] == "oftenused" %}
            사용감 적음
            {% endif %}
            {% if data['status'] == "manyused" %}
            사용감 많음
            {% endif %}
            {% if data['status'] == "broken" %}
            고장난 상품
            {% endif %}
        </h5>

        <div style="overflow:auto; float:left; width:100%; height:400px; margin-top:10px">
            <p>
            {{data.review}}
            </p>
         </div>

    </div>

</div>
    {% endblock section %}
