{% extends "index.html" %}
 {% block section %}
    <div class = "detail" >
        <h1 class = "item-title">
            {% if data['availability'] == "sold_out" %}
            [ 품절 ] 
            {% endif %}
            {% if data['availability'] == "available" %}
            [ 판매 중 ] 
            {% endif %}
            {{data.name}}
        </h1>
        <hr style="min-width: 1020px;">
        <div style="display: inline-flex;">
            <img src="{{ url_for('static', filename='image/' + data.img_path) }}" alt="이미지 없음" class="rounded-img-big" width="480px" height="480px" style="margin: 20px;" onclick="openPopup('popup1')">
            <div class="popup" id="popup1" onclick="closePopup('popup1')">
               <img src="{{ url_for('static', filename='image/' + data.img_path) }}" alt="이미지 없음">
            </div>
            <div>
                <div class = "item-unit">
                    <br>
                    <h1 class = "price-unit">
                        <span class="item-price"> {{ data.price | comma_format }} </span>
                        <span id = "price"> 원 </span>
                        <br>
                    </h1>
                    <hr>
                    <button id ="heart-btn" style="justify-content: center;"> 
                        <i class="fa fa-heart" id="heart-icon"></i>
                        <p id = "heart-txt"> 좋아요  </p> 
                    </button>
                    <div id="item-info">
                        <br><br>

                        <table class="info">
                            <tr>
                                <td> <span class="item-detail-txt"> 상품 상태 </span> </td>
                                <td> </td>
                                <td>{% if data['status']=="new" %}
                                    미개봉 새 상품
                                    {% endif %}
                                    {% if data['status']=="noused" %}
                                    미사용 상품
                                    {% endif %}
                                    {% if data['status']=="oftenused" %}
                                    사용감 적음
                                    {% endif %}
                                    {% if data['status']=="manyused" %}
                                    사용감 많음
                                    {% endif %}
                                    {% if data['status']=="broken" %}
                                    고장난 상품
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td> <span class="item-detail-txt"> 판매자 ID </span> </td>
                                <td> </td>
                                <td> {{data.seller}} </td>
                            </tr>
                            <tr>
                                <td> <span class="item-detail-txt"> 거래 희망 장소 </span> </td>
                                <td> </td>
                                <td> {{data.addr}} </td>
                            </tr>
                            <tr>
                                <td> <span class="item-detail-txt"> 직거래 가능 </span> </td>
                                <td> </td>
                                <td> {{data.directtransaction}} </td>
                            </tr> 
                            <tr>
                                <td> <span class="item-detail-txt"> 판매자 별점 </span> </td>
                                <td> </td>
                            </tr> 
                        </table>
                        <br>
                    </div>
                </div>

                <div style="display: inline-flex; margin-left: 30px;">
                    <button type="calltoseller" class="btn" onclick="location.href='/chat/{{data.seller}}">
                        판매자 연락
                    </button>
                    <button type="showsellerreivew" class="btn">
                        판매자 리뷰
                    </button>
                </div>

            </div>
        </div>

        <div id="detail-info">
            <p style="font-size: 20px;"> 상품 정보 </p>
            <hr> <br>
            <p>{{data.explanation}}</p>
        </div>

        <div style="display: flex; justify-content: flex-end;">
            <button class="btn" onclick="location.href='/reg_review_init/{{name}}/';">
                리뷰등록
            </button>
        </div>

    </div>

   
    <script>
        function showHeart() {
        $.ajax({
            type: 'GET',
            url: '/show_heart/{{name}}/',
            data: {},
            success: function (response) {
            let my_heart = response['my_heart'];
            if (my_heart['interested'] == 'Y')
            {
            $("#heart-txt").css("color","#f0608e");
            $("#heart-icon").css("color","#f0608e");
            $("#heart-btn").attr("onclick","unlike()");
            }
            else
            {
            $("#heart-txt").css("color","grey");
            $("#heart-icon").css("color","grey");
            $("#heart-btn").attr("onclick","like()");
            }
            //alert("showheart!")
            }
            });
        }
        function like() {
            $.ajax({
                type: 'POST',
                url: '/like/{{name}}/',
                data: {
                interested : "Y"
                },
                success: function (response) {
                    alert(response['msg']);
                    window.location.reload()
                }
            });
        }
        function unlike() {
            $.ajax({
                type: 'POST',
                url: '/unlike/{{name}}/',
                data: {
                    interested : "N"
                },
                success: function (response) {
                    alert(response['msg']);
                    window.location.reload()
                }
            });
        }
        $(document).ready(function () {
            showHeart();
        });

    </script>

 {% endblock section %}